$main-font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$mono-font: "Monaco", "Menlo", monospace;
$main-font-size: 16px;

$main-width: 1000px;

$main-color: #000000;
$code-color: #3182bd;

$blue-100: #293347; // 21,14,278 - 63,58,278
$blue-200: #344b71;
$blue-300: #3d649e;
$blue-400: #447ecd;
$blue-500: #489aff;

$orange-100: #502813;
$orange-200: #783816;
$orange-300: #a34817;
$orange-400: #d05917;
$orange-500: #fe6a15;

$gray-000: #1c1c1c;
$gray-100: #323232;
$gray-200: #4a4a4a;
$gray-300: #636363;
$gray-400: #7d7d7d;
$gray-500: #989898;
$gray-600: #b4b4b4;
$gray-700: #d1d1d1;
$gray-800: #efefef;

$link-color: $blue-500;
$border-color: $gray-700;
$gray-color: $gray-500;
$highlight-color: $orange-500;